web_jsie/static/
static/bower_components/*
*/__pycache__
*/migrations
*.log
*.pot
*.pyc
*~
*.swp
*tmp
*.ini
*.pid
*DS_Store
*.csv
.project
.pydevproject
*/settings
.idea
# Python compiled byte code
*.pyc

# SQLite3 database
*.sqlite3

# Node modules
node_modules/

# Bower components
static/bower_components/

# Uglified JavaScript
dist/

# Staticfiles
staticfiles/